{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
{%- endstyle -%}

<section class="comparison-table-section section-{{ section.id }}-padding" style="background-color: {{ section.settings.section_bg }};">
  <div class="page-width">
    <h2
                class="rich-text__heading rte text-center inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ section.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ section.settings.heading }}
              </h2>
    <div class="comparison-table">
      <table>
        <!-- Header Row -->
        <tr class="header-row">
          {% for i in (1..3) %}
            {% assign image_id = "col" | append: i | append: "_image" %}
            {% assign title_id = "col" | append: i | append: "_title" %}
            {% assign img = section.settings[image_id] %}
            {% assign title = section.settings[title_id] %}

            <th class="col-{{ i }}{% if i == 2 %} middle-col{% endif %}"
              style="{% if i == 2 %}background-color: {{ section.settings.middle_col_bg }};{% endif %}">
              {% if img != blank %}
                <img src="{{ img | img_url: 'master' }}" alt="Column {{ i }}" class="header-image">
              {% endif %}
              {% if title != blank %}
                <p class="header-text">{{ title }}</p>
              {% endif %}
            </th>
          {% endfor %}
        </tr>

        <!-- Table Body Rows -->
        {% for row in (1..6) %}
          <tr>
            {% for i in (1..3) %}
              {% assign text_id = "row" | append: row | append: "_col" | append: i %}
              {% assign text_value = section.settings[text_id] %}
              <td class="col-{{ i }}{% if i == 2 %} middle-col{% endif %}"
                style="{% if i == 2 %}background-color: {{ section.settings.middle_col_bg }};{% endif %}">
                {% if i == 2 and section.settings.middle_icon != blank %}
                  <img src="{{ section.settings.middle_icon | img_url: '24x24' }}" alt="icon" class="cell-icon">
                {% endif %}
               <span> {{ text_value }} </span>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="button-icon-block text-center">
    {%- for block in section.blocks -%}
              {% case block.type %}
    {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button {% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.button_label | escape }} {% render 'icon-caret-right' %}
                    </a>
                  {%- endif -%}
                  {%  when 'icon-text' %}
                  <div class ="three-icon-text" style="">
                      <div class="text-icon-block {% if block.settings.mobile_hide_1 %} small-hide {% endif %}">
                        {% if block.settings.image_1 != blank %}
                        <div class="icon-block">
                          <img src="{{ block.settings.image_1 | img_url: 'master' }}" class="icon">
                        </div>
                    {% endif %}
                        <div class="text-content">
                          {{ block.settings.text_1 }}
                        </div>
                      </div>
                      <div class="text-icon-block {% if block.settings.mobile_hide_2 %} small-hide {% endif %}">
                        {% if block.settings.image_2 != blank %}
                        <div class="icon-block">
                          <img src="{{ block.settings.image_2 | img_url: 'master' }}" class="icon">
                        </div>
                        {% endif %}
                        <div class="text-content ">
                          {{ block.settings.text_2 }}
                        </div>
                      </div>
                      <div class="text-icon-block {% if block.settings.mobile_hide_3 %} small-hide {% endif %}">
                        {% if block.settings.image_3 != blank %}
                        <div class="icon-block">
                          <img src="{{ block.settings.image_3 | img_url: 'master' }}" class="icon">
                        </div>
                        {% endif %}
                        <div class="text-content">
                          {{ block.settings.text_3 }}
                        </div>
                      </div>
                  </div> 
                {% endcase %}      
            {% endfor %}
  </div>
  </div>
</section>

<style>
.comparison-table-section h2{
    max-width:600px;
    margin:auto;
}
.comparison-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  max-width: 900px;
  margin: 40px auto;
}
.comparison-table .col-1{
  text-align: left;
  border-right: none;
}
.comparison-table .col-1,
.comparison-table .col-3{
  color:#1D211EBF;
  border-left: none;
}

.comparison-table th,
.comparison-table td {
  border-top: 1px solid #DBD3C8;
  padding: 16px;
  vertical-align: middle;
}
.comparison-table .header-row th {
  font-weight: 600;
  font-size: 16px;
  border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border:{{ section.settings.middle_col_bg }};
}
.comparison-table .header-image {
  max-width: 80px;
  margin-bottom: 8px;
}
.comparison-table .header-text {
  margin: 0;
  font-weight: 500;
}
.comparison-table .middle-col {
  font-weight: 500;
  color:#2D2C17;
}
.comparison-table td.middle-col {
  
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-right: {{ section.settings.middle_col_bg }};
    border-left: {{ section.settings.middle_col_bg }};
    border-bottom: {{ section.settings.middle_col_bg }};
}
.comparison-table .cell-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: middle;
}
.button-icon-block.text-center {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 550px;
    margin: auto;
}
@media screen and (max-width: 749px) {
  .comparison-table table,
  .comparison-table tr,
  .comparison-table td,
  .comparison-table th {
    width: 100%;
  }
  .comparison-table tr {
    margin-bottom: 16px;
  }
  .comparison-table .header-image{
  display:none;
  }
  .comparison-table td{
    padding:8px !important;
  }
  .comparison-table .cell-icon {
    
    margin-right: 0; 
    display: block;
    margin: auto;
  }
  .comparison-table td.middle-col{
    text-align: center;
    flex-direction: column;
  }
}
</style>

{% schema %}
{
  "name": "Comparison Table (3x7)",
  "settings": [
    {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "middle_col_bg",
      "label": "Background Color of Middle Column",
      "default": "#f7f7f7"
    },
    {
      "type": "image_picker",
      "id": "middle_icon",
      "label": "Icon for Middle Column Text",
      "info": "This icon appears before each text in the middle column."
    },

    { "type": "header", "content": "Header Row (Images + Titles)" },
    {
      "type": "image_picker",
      "id": "col1_image",
      "label": "Column 1 Image"
    },
    {
      "type": "text",
      "id": "col1_title",
      "label": "Column 1 Title"
    },
    {
      "type": "image_picker",
      "id": "col2_image",
      "label": "Column 2 Image"
    },
    {
      "type": "inline_richtext",
      "id": "col2_title",
      "label": "Column 2 Title"
    },
    {
      "type": "image_picker",
      "id": "col3_image",
      "label": "Column 3 Image"
    },
    {
      "type": "inline_richtext",
      "id": "col3_title",
      "label": "Column 3 Title"
    },

    {
  "type": "header",
  "content": "Table Content (6 Rows)"
},
{
  "type": "text",
  "id": "row1_col1",
  "label": "Row 1 - Column 1 Text"
},
{
  "type": "text",
  "id": "row1_col2",
  "label": "Row 1 - Column 2 Text"
},
{
  "type": "text",
  "id": "row1_col3",
  "label": "Row 1 - Column 3 Text"
},
{
  "type": "text",
  "id": "row2_col1",
  "label": "Row 2 - Column 1 Text"
},
{
  "type": "text",
  "id": "row2_col2",
  "label": "Row 2 - Column 2 Text"
},
{
  "type": "text",
  "id": "row2_col3",
  "label": "Row 2 - Column 3 Text"
},
{
  "type": "text",
  "id": "row3_col1",
  "label": "Row 3 - Column 1 Text"
},
{
  "type": "text",
  "id": "row3_col2",
  "label": "Row 3 - Column 2 Text"
},
{
  "type": "text",
  "id": "row3_col3",
  "label": "Row 3 - Column 3 Text"
},
{
  "type": "text",
  "id": "row4_col1",
  "label": "Row 4 - Column 1 Text"
},
{
  "type": "text",
  "id": "row4_col2",
  "label": "Row 4 - Column 2 Text"
},
{
  "type": "text",
  "id": "row4_col3",
  "label": "Row 4 - Column 3 Text"
},
{
  "type": "text",
  "id": "row5_col1",
  "label": "Row 5 - Column 1 Text"
},
{
  "type": "text",
  "id": "row5_col2",
  "label": "Row 5 - Column 2 Text"
},
{
  "type": "text",
  "id": "row5_col3",
  "label": "Row 5 - Column 3 Text"
},
{
  "type": "text",
  "id": "row6_col1",
  "label": "Row 6 - Column 1 Text"
},
{
  "type": "text",
  "id": "row6_col2",
  "label": "Row 6 - Column 2 Text"
},
{
  "type": "text",
  "id": "row6_col3",
  "label": "Row 6 - Column 3 Text"
},
{
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 64
    }

  ],
  "blocks": [
    {
      "type": "icon-text",
      "name": "Icon Text",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
				{
          "type": "text",
          "id": "text_1",
          "label": "Text_1"
        },
        {
          "type": "checkbox",
          "id": "mobile_hide_1",
          "default": false,
          "label": "Hide Image 1 n Text 1 on mobile"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
				{
          "type": "text",
          "id": "text_2",
          "label": "Text_2"
        },
        {
          "type": "checkbox",
          "id": "mobile_hide_2",
          "default": false,
          "label": "Hide Image 2 n Text 2 on mobile"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
				{
          "type": "text",
          "id": "text_3",
          "label": "Text_3"
        },
        {
          "type": "checkbox",
          "id": "mobile_hide_3",
          "default": true,
          "label": "Hide Image 3 n Text 3 on mobile"
        },
      ]
    },{
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }
      ]
    }

  ],

  "presets": [
    {
      "name": "Comparison Table 3x7",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
