
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-588111626235347542.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-588111626235347542.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-588111626235347542.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-588111626235347542.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-588111626235347542.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-588111626235347542.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-588111626235347542.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-588111626235347542.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-588111626235347542.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-588111626235347542.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-588111626235347542.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-588111626235347542.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-588111626235347542.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-588111626235347542.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-588111626235347542.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-588111626235347542.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-588111626235347542.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-588111626235347542.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-588111626235347542.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-588111626235347542.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-588111626235347542.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-588111626235347542.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-588111626235347542.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-588111626235347542.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-588111626235347542.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-588111626235347542.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-588111626235347542.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-588111626235347542.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-588111626235347542.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-588111626235347542.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-588111626235347542.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-588111626235347542.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-588111626235347542.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-588111626235347542.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-588111626235347542.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-588111626235347542.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-588111626235347542.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-588111626235347542.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-588111626235347542.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-588111626235347542.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-588111626235347542.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-588111626235347542.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-588111626235347542.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-588111626235347542.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-588111626235347542.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-588111626235347542.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-588111626235347542.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-588111626235347542.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-588111626235347542.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-588111626235347542.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-588111626235347542.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-588111626235347542.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-588111626235347542.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-588111626235347542.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-588111626235347542.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-588111626235347542.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-588111626235347542.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-588111626235347542.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-588111626235347542.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-588111626235347542.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-588111626235347542.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-588111626235347542.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-588111626235347542.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-588111626235347542.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-588111626235347542.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-588111626235347542.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-588111626235347542.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-588111626235347542.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-588111626235347542.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-588111626235347542.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-588111626235347542.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-588111626235347542.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-588111626235347542.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-588111626235347542.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-588111626235347542.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-588111626235347542.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-588111626235347542.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-588111626235347542.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-588111626235347542.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-588111626235347542.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-588111626235347542.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-588111626235347542.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-588111626235347542.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-588111626235347542.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-588111626235347542.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-588111626235347542.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-588111626235347542.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-588111626235347542.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-588111626235347542.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-588111626235347542.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-588111626235347542 .gp-relative{position:relative}.gps-588111626235347542 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588111626235347542 .gp-mb-0{margin-bottom:0}.gps-588111626235347542 .gp-inline-block{display:inline-block}.gps-588111626235347542 .gp-flex{display:flex}.gps-588111626235347542 .gp-inline-flex{display:inline-flex}.gps-588111626235347542 .gp-grid{display:grid}.gps-588111626235347542 .gp-contents{display:contents}.gps-588111626235347542 .\!gp-hidden{display:none!important}.gps-588111626235347542 .gp-hidden{display:none}.gps-588111626235347542 .gp-h-auto{height:auto}.gps-588111626235347542 .gp-h-full{height:100%}.gps-588111626235347542 .gp-w-full{width:100%}.gps-588111626235347542 .gp-max-w-full{max-width:100%}.gps-588111626235347542 .gp-flex-none{flex:none}.gps-588111626235347542 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588111626235347542 .gp-flex-col{flex-direction:column}.gps-588111626235347542 .gp-items-center{align-items:center}.gps-588111626235347542 .gp-justify-center{justify-content:center}.gps-588111626235347542 .gp-overflow-hidden{overflow:hidden}.gps-588111626235347542 .gp-break-words{overflow-wrap:break-word}.gps-588111626235347542 .gp-text-center{text-align:center}.gps-588111626235347542 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-588111626235347542 .gp-no-underline{text-decoration-line:none}.gps-588111626235347542 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588111626235347542 .gp-duration-200{transition-duration:.2s}.gps-588111626235347542 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588111626235347542 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-588111626235347542 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-588111626235347542 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-588111626235347542 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-588111626235347542 .tablet\:\!gp-hidden{display:none!important}.gps-588111626235347542 .tablet\:gp-hidden{display:none}.gps-588111626235347542 .tablet\:gp-h-auto{height:auto}.gps-588111626235347542 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-588111626235347542 .mobile\:\!gp-hidden{display:none!important}.gps-588111626235347542 .mobile\:gp-hidden{display:none}.gps-588111626235347542 .mobile\:gp-h-auto{height:auto}.gps-588111626235347542 .mobile\:gp-flex-none{flex:none}}.gps-588111626235347542 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-588111626235347542 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F4F1E8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gM44nNYUdH"}' data-id="gM44nNYUdH" id="gM44nNYUdH" data-same-height-subgrid-container class="gM44nNYUdH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F4F1E8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2h8DQbtcv gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gCMxHx3HR4"}' data-id="gCMxHx3HR4" id="gCMxHx3HR4" data-same-height-subgrid-container class="gCMxHx3HR4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:60px;--pl:30px;--pb:50px;--pr:40px;--mb-mobile:0px;--pt-mobile:30px;--pl-mobile:20px;--pb-mobile:30px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:60px;--pl-tablet:30px;--pb-tablet:50px;--pr-tablet:40px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gF69bLQ5Q4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gchUW9oZhR"}' data-id="gchUW9oZhR" id="gchUW9oZhR" data-same-height-subgrid-container class="gchUW9oZhR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:60px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gok2ac2OLB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1mZPI278W"
        class="g1mZPI278W"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:20px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760348411324"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-fonntscom-SuisseIntl-Light, 'fonntscom-SuisseIntl-Light'), var(--g-font-heading, heading);--weight:400;--ls:0.78px;--size:30px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:140%;--lh-mobile:140%;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1mZPI278W_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gN8crQsQMR"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760348411325 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gN8crQsQMR"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_587280051393790634-20b4d35b-6248-408c-91c3-98925697c158.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTM2LTUyMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0idXJsKCNnLTUzNi01MjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MzYiIHRvPSI1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_587280051393790634-20b4d35b-6248-408c-91c3-98925697c158.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTM2LTUyMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0idXJsKCNnLTUzNi01MjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MzYiIHRvPSI1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_587280051393790634-20b4d35b-6248-408c-91c3-98925697c158.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTM2LTUyMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0idXJsKCNnLTUzNi01MjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MzYiIHRvPSI1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_587280051393790634-20b4d35b-6248-408c-91c3-98925697c158.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmpGbjDXPk"
        class="gmpGbjDXPk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:20px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:20px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760348411326"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-fonntscom-Suisse_Intl_Regular, 'fonntscom-Suisse_Intl_Regular'), var(--g-font-body, body);--weight:400;--ls:0.96px;--size:15px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmpGbjDXPk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g0ofNV1uPL"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:5px;--pl:0px;--pb:5px;--pr:0px;--pt-mobile:5px;--pl-mobile:0px;--pb-mobile:5px;--pr-mobile:0px;--pt-tablet:5px;--pl-tablet:0px;--pb-tablet:5px;--pr-tablet:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1760348411327 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g0ofNV1uPL"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cumaskincare.com/cdn/shop/files/Dr._Elaine_Gavalas.webp?v=1757506173&width=1000" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIyMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtMjEwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjIxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIyMTAiIGZpbGw9InVybCgjZy0xMDAwLTIxMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cumaskincare.com/cdn/shop/files/Dr._Elaine_Gavalas.webp?v=1757506173&width=1000" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIyMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtMjEwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjIxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIyMTAiIGZpbGw9InVybCgjZy0xMDAwLTIxMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://cumaskincare.com/cdn/shop/files/Dr._Elaine_Gavalas.webp?v=1757506173&width=1000" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIyMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtMjEwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjIxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIyMTAiIGZpbGw9InVybCgjZy0xMDAwLTIxMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://cumaskincare.com/cdn/shop/files/Dr._Elaine_Gavalas.webp?v=1757506173&width=1000"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#gk6u_DRGio","type":"scroll-to","title":"Section 1"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:10px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--ta-mobile:center" >
        <style>[data-id="gdxES2TnXp"].gp-button-base::before, [data-id="gdxES2TnXp-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      
  
    }
  
      
  [data-id="gdxES2TnXp"]:hover::before, [data-id="gdxES2TnXp-interaction"]:hover::before {
    border-style: solid;
  border-width: 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gk6u_DRGio
            target=undefined
          ></a>
        <a
          data-id="gdxES2TnXp" dataId="gdxES2TnXp" data-state="idle" aria-label="<p>&nbsp;SHOP NOW</p>"
          
          href="#gk6u_DRGio" target
          style="--w:90%;--w-tablet:90%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--hvr-bblr:12px;--hvr-bbrr:12px;--hvr-btlr:12px;--hvr-btrr:12px;--bgi:;--hvr-bgi:;--hvr-bg:#F4F1E8;--bg:#151515;--hvr-c:#181818;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-fonntscom-Suisse_Intl_Regular, 'fonntscom-Suisse_Intl_Regular'), var(--g-font-body, body);--weight:400;--ls:0.96px;--size:19px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%"
          class="gdxES2TnXp gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-fonntscom-Suisse_Intl_Regular, 'fonntscom-Suisse_Intl_Regular'), var(--g-font-body, body);--weight:400;--ls:0.96px;--size:19px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggdxES2TnXp_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gLYpmt4dLJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gZwanceBOk"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760348411369 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gZwanceBOk"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_587280051393790634-08e2813d-e4de-4df6-aed9-8fcc35eee135.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTM2LTUyMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0idXJsKCNnLTUzNi01MjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MzYiIHRvPSI1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_587280051393790634-08e2813d-e4de-4df6-aed9-8fcc35eee135.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTM2LTUyMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0idXJsKCNnLTUzNi01MjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MzYiIHRvPSI1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_587280051393790634-08e2813d-e4de-4df6-aed9-8fcc35eee135.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTM2LTUyMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTM2IiBoZWlnaHQ9IjUyMyIgZmlsbD0idXJsKCNnLTUzNi01MjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MzYiIHRvPSI1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_587280051393790634-08e2813d-e4de-4df6-aed9-8fcc35eee135.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-588111626235347542 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=588111626050208342&sectionId=588111626235347542)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1mZPI278W_text","label":"gg1mZPI278W_text","default":"<strong>Formulated by</strong><br><strong>Specialists,</strong><br><strong>Trusted by Doctors</strong>"},{"type":"html","id":"ggmpGbjDXPk_text","label":"ggmpGbjDXPk_text","default":"<p>\"As a board-certified natural medicine practitioner, I highly recommend RejuBalm, an all-in-one eye balm that delivers visible results. It’s expertly formulated with science-backed ingredients that target puffiness, smooth fine lines, and brighten dark under-eye circles.\"</p>"},{"type":"html","id":"ggdxES2TnXp_label","label":"ggdxES2TnXp_label","default":"<p>&nbsp;SHOP NOW</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  