
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-588111626234888790.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-588111626234888790.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-588111626234888790.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-588111626234888790.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-588111626234888790.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-588111626234888790.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-588111626234888790.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-588111626234888790.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-588111626234888790.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-588111626234888790.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-588111626234888790.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-588111626234888790.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-588111626234888790.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-588111626234888790.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-588111626234888790.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-588111626234888790.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-588111626234888790.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-588111626234888790.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-588111626234888790.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-588111626234888790.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-588111626234888790.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-588111626234888790.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-588111626234888790.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-588111626234888790.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-588111626234888790.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-588111626234888790.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-588111626234888790.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-588111626234888790.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-588111626234888790.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-588111626234888790.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-588111626234888790.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-588111626234888790.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-588111626234888790.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-588111626234888790.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-588111626234888790.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-588111626234888790.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-588111626234888790.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-588111626234888790.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-588111626234888790.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-588111626234888790.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-588111626234888790.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-588111626234888790.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-588111626234888790.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-588111626234888790.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-588111626234888790.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-588111626234888790.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-588111626234888790.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-588111626234888790.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-588111626234888790.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-588111626234888790.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-588111626234888790.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-588111626234888790.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-588111626234888790.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-588111626234888790.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-588111626234888790.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-588111626234888790.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-588111626234888790.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-588111626234888790.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-588111626234888790.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-588111626234888790.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-588111626234888790.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-588111626234888790.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-588111626234888790.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-588111626234888790.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-588111626234888790.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-588111626234888790.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-588111626234888790.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-588111626234888790.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-588111626234888790.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-588111626234888790.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-588111626234888790.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-588111626234888790.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-588111626234888790.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-588111626234888790.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-588111626234888790.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-588111626234888790.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-588111626234888790.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-588111626234888790.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-588111626234888790.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-588111626234888790.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-588111626234888790 .gp-relative{position:relative}.gps-588111626234888790 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588111626234888790 .gp-mb-0{margin-bottom:0}.gps-588111626234888790 .gp-inline-block{display:inline-block}.gps-588111626234888790 .gp-flex{display:flex}.gps-588111626234888790 .gp-inline-flex{display:inline-flex}.gps-588111626234888790 .gp-grid{display:grid}.gps-588111626234888790 .gp-contents{display:contents}.gps-588111626234888790 .\!gp-hidden{display:none!important}.gps-588111626234888790 .gp-hidden{display:none}.gps-588111626234888790 .gp-h-auto{height:auto}.gps-588111626234888790 .gp-h-full{height:100%}.gps-588111626234888790 .gp-w-full{width:100%}.gps-588111626234888790 .gp-max-w-full{max-width:100%}.gps-588111626234888790 .gp-flex-none{flex:none}.gps-588111626234888790 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588111626234888790 .gp-flex-col{flex-direction:column}.gps-588111626234888790 .gp-items-center{align-items:center}.gps-588111626234888790 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588111626234888790 .gp-duration-200{transition-duration:.2s}.gps-588111626234888790 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-588111626234888790 .tablet\:\!gp-hidden{display:none!important}.gps-588111626234888790 .tablet\:gp-hidden{display:none}.gps-588111626234888790 .tablet\:gp-h-auto{height:auto}.gps-588111626234888790 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-588111626234888790 .mobile\:\!gp-hidden{display:none!important}.gps-588111626234888790 .mobile\:gp-hidden{display:none}.gps-588111626234888790 .mobile\:gp-h-auto{height:auto}.gps-588111626234888790 .mobile\:gp-flex-none{flex:none}}.gps-588111626234888790 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EFE8E0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQoViymD64"}' data-id="gQoViymD64" id="gQoViymD64" data-same-height-subgrid-container class="gQoViymD64 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:20px;--pb-mobile:var(--g-s-2xl);--pr-mobile:20px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#EFE8E0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtxZwERRkE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g40v5gfp4M"}' data-id="g40v5gfp4M" id="g40v5gfp4M" data-same-height-subgrid-container class="g40v5gfp4M gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="glMa0MAkCD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1Dx0zlBdk"
        class="g1Dx0zlBdk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-xs);--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:var(--g-s-xs);--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760185566186"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:Fahkwang, var(--g-font-body);--weight:500;--ls:0.78px;--size:30px;--size-tablet:25px;--size-mobile:20px;--lh:150%;--lh-tablet:140%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1Dx0zlBdk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g3CbZDMwsO"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:90px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:24px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:90px;--pb-tablet:0px;--pr-tablet:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1760185566186 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g3CbZDMwsO"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:auto;--objf:contain;--w:430px;--w-tablet:430px;--w-mobile:260px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gYQEvMSurk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g1MaId4ozw"}' data-id="g1MaId4ozw" id="g1MaId4ozw" data-same-height-subgrid-container class="g1MaId4ozw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUP0fBK5EZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyHVgrpmUe"
        class="gyHVgrpmUe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:var(--g-s-xs);--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-xs);--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:var(--g-s-xs);--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760185566187"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--fs:normal;--ff:Fahkwang, var(--g-font-body);--weight:500;--ls:0.78px;--size:30px;--size-tablet:25px;--size-mobile:23px;--lh:150%;--lh-tablet:140%;--lh-mobile:140%;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyHVgrpmUe_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6Pzuu79KB"
        class="g6Pzuu79KB"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pl:0px;--pb:16px;--pr:0px;--pt-mobile:16px;--pl-mobile:0px;--pb-mobile:16px;--pr-mobile:0px;--pt-tablet:16px;--pl-tablet:0px;--pb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760185566187"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-fonntscom-Suisse_Intl_Regular, 'fonntscom-Suisse_Intl_Regular'), var(--g-font-body, body);--weight:400;--ls:0.96px;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:180%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6Pzuu79KB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gYOfh_fx03"}' data-id="gYOfh_fx03" id="gYOfh_fx03" data-same-height-subgrid-container class="gYOfh_fx03 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:5px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:5px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:5px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXlHfVVuDx gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gwXJPY3L4J ">
      
    
    <div class="gp-flex" style="--jc:left">
    <div
      data-id="gwXJPY3L4J"
       style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#D5D2CC;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:3px;--pl:14px;--pb:3px;--pr:14px;--pt-mobile:3px;--pl-mobile:14px;--pb-mobile:3px;--pr-mobile:14px;--pt-tablet:3px;--pl-tablet:14px;--pb-tablet:3px;--pr-tablet:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:12px"
        >
        
    <li
      data-index="0" data-id="glp2ARDAaQ"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gwXJPY3L4J"
      style="--bgc:transparent;--bgi:transparent;--cg:12px"
    >
    <div
      data-same-height-display-contents
      
      class="gDiW3-9y_w gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gQLukIfhDu"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760185566188 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQLukIfhDu"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko_1024x.svg?v=1754333827" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3LTEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTciIGhlaWdodD0iMTIiIGZpbGw9InVybCgjZy0xNy0xMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3IiB0bz0iMTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko_1024x.svg?v=1754333827" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3LTEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTciIGhlaWdodD0iMTIiIGZpbGw9InVybCgjZy0xNy0xMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3IiB0bz0iMTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko.svg?v=1754333827" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3LTEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTciIGhlaWdodD0iMTIiIGZpbGw9InVybCgjZy0xNy0xMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3IiB0bz0iMTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko.svg?v=1754333827"
        alt=""
        width="100%"
        style="--aspect:18/12;--aspect-tablet:18/12;--aspect-mobile:18/12;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      
      class="g4O9fRDI3b gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3ueK0CJxi"
        class="g3ueK0CJxi"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760185566189"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-fonntscom-Suisse_Intl_Regular, 'fonntscom-Suisse_Intl_Regular'), var(--g-font-body, body);--weight:400;--ls:0.96px;--size:14px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3ueK0CJxi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g8BBrFDn7A gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gOJjNcKMxK ">
      
    
    <div class="gp-flex" style="--jc:left">
    <div
      data-id="gOJjNcKMxK"
       style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#D5D2CC;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:3px;--pl:14px;--pb:3px;--pr:14px;--pt-mobile:3px;--pl-mobile:14px;--pb-mobile:3px;--pr-mobile:14px;--pt-tablet:3px;--pl-tablet:14px;--pb-tablet:3px;--pr-tablet:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:12px"
        >
        
    <li
      data-index="0" data-id="geNBkYn6yZ"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gOJjNcKMxK"
      style="--bgc:transparent;--bgi:transparent;--cg:12px"
    >
    <div
      data-same-height-display-contents
      
      class="gNQ2V_MMJV gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gn22BA1a-7"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760185566190 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gn22BA1a-7"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko_1024x.svg?v=1754333827" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3LTEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTciIGhlaWdodD0iMTIiIGZpbGw9InVybCgjZy0xNy0xMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3IiB0bz0iMTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko_1024x.svg?v=1754333827" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3LTEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTciIGhlaWdodD0iMTIiIGZpbGw9InVybCgjZy0xNy0xMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3IiB0bz0iMTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko.svg?v=1754333827" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3LTEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTciIGhlaWdodD0iMTIiIGZpbGw9InVybCgjZy0xNy0xMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3IiB0bz0iMTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko.svg?v=1754333827"
        alt=""
        width="100%"
        style="--aspect:18/12;--aspect-tablet:18/12;--aspect-mobile:18/12;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      
      class="gUJDekGfqa gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkEEqwSjLI"
        class="gkEEqwSjLI"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760185566190"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-fonntscom-Suisse_Intl_Regular, 'fonntscom-Suisse_Intl_Regular'), var(--g-font-body, body);--weight:400;--ls:0.96px;--size:14px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkEEqwSjLI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gsS9d4_VYJ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="grM2KQ7Z1c ">
      
    
    <div class="gp-flex" style="--jc:left">
    <div
      data-id="grM2KQ7Z1c"
       style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#D5D2CC;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:3px;--pl:14px;--pb:3px;--pr:14px;--pt-mobile:3px;--pl-mobile:14px;--pb-mobile:3px;--pr-mobile:14px;--pt-tablet:3px;--pl-tablet:14px;--pb-tablet:3px;--pr-tablet:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:12px"
        >
        
    <li
      data-index="0" data-id="g5iH0g4ic1"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-grM2KQ7Z1c"
      style="--bgc:transparent;--bgi:transparent;--cg:12px"
    >
    <div
      data-same-height-display-contents
      
      class="gd0TtYoQSh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g7myQSYfCz"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760185566191 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g7myQSYfCz"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko_1024x.svg?v=1754333827" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3LTEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTciIGhlaWdodD0iMTIiIGZpbGw9InVybCgjZy0xNy0xMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3IiB0bz0iMTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko_1024x.svg?v=1754333827" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3LTEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTciIGhlaWdodD0iMTIiIGZpbGw9InVybCgjZy0xNy0xMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3IiB0bz0iMTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko.svg?v=1754333827" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3LTEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTciIGhlaWdodD0iMTIiIGZpbGw9InVybCgjZy0xNy0xMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3IiB0bz0iMTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0900/4577/6191/files/small-ticko.svg?v=1754333827"
        alt=""
        width="100%"
        style="--aspect:18/12;--aspect-tablet:18/12;--aspect-mobile:18/12;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      
      class="gMKTEGAabW gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsmYir9PYC"
        class="gsmYir9PYC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760185566192"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-fonntscom-Suisse_Intl_Regular, 'fonntscom-Suisse_Intl_Regular'), var(--g-font-body, body);--weight:400;--ls:0.96px;--size:14px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsmYir9PYC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-588111626234888790 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=588111626050208342&sectionId=588111626234888790)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1Dx0zlBdk_text","label":"gg1Dx0zlBdk_text","default":"Your All In One<br>&nbsp;Solution for Puffy,<br>Tired, and Aging Eyes"},{"type":"html","id":"ggyHVgrpmUe_text","label":"ggyHVgrpmUe_text","default":"Your All In One Solution for<br>Puffy, Tired, and Aging Eyes"},{"type":"html","id":"gg6Pzuu79KB_text","label":"gg6Pzuu79KB_text","default":"<p>Inspired by advanced clinical treatments, RejuBalm works in harmony with your skin to help release trapped fluid beneath the eyes, a key factor in visible puffiness and swelling. It delivers a concentrated blend of nourishing ingredients to support the skin’s natural resilience and vitality in this delicate area.<br><br>With continued use, it helps improve firmness, smoothness and elasticity, leaving the under eye area looking refreshed, well rested and more youthful for eyes that appear brighter and revitalized every day</p>"},{"type":"html","id":"gg3ueK0CJxi_text","label":"gg3ueK0CJxi_text","default":"<p>Fades Dark Circles</p>"},{"type":"html","id":"ggkEEqwSjLI_text","label":"ggkEEqwSjLI_text","default":"<p>Boosts Radiance</p>"},{"type":"html","id":"ggsmYir9PYC_text","label":"ggsmYir9PYC_text","default":"<p>Well-Rested Look</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  