
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-588111626235282006.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-588111626235282006.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-588111626235282006.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-588111626235282006.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-588111626235282006.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-588111626235282006.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-588111626235282006.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-588111626235282006.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-588111626235282006.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-588111626235282006.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-588111626235282006.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-588111626235282006.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-588111626235282006.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-588111626235282006.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-588111626235282006.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-588111626235282006.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-588111626235282006.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-588111626235282006.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-588111626235282006.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-588111626235282006.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-588111626235282006.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-588111626235282006.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-588111626235282006.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-588111626235282006.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-588111626235282006.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-588111626235282006.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-588111626235282006.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-588111626235282006.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-588111626235282006.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-588111626235282006.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-588111626235282006.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-588111626235282006.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-588111626235282006.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-588111626235282006.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-588111626235282006.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-588111626235282006.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-588111626235282006.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-588111626235282006.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-588111626235282006.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-588111626235282006.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-588111626235282006.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-588111626235282006.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-588111626235282006.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-588111626235282006.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-588111626235282006.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-588111626235282006.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-588111626235282006.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-588111626235282006.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-588111626235282006.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-588111626235282006.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-588111626235282006.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-588111626235282006.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-588111626235282006.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-588111626235282006.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-588111626235282006.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-588111626235282006.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-588111626235282006.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-588111626235282006.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-588111626235282006.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-588111626235282006.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-588111626235282006.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-588111626235282006.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-588111626235282006.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-588111626235282006.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-588111626235282006.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-588111626235282006.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-588111626235282006.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-588111626235282006.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-588111626235282006.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-588111626235282006.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-588111626235282006.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-588111626235282006.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-588111626235282006.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-588111626235282006.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-588111626235282006.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-588111626235282006.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-588111626235282006.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-588111626235282006.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-588111626235282006.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-588111626235282006.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-588111626235282006.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-588111626235282006.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-588111626235282006.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-588111626235282006.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-588111626235282006.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-588111626235282006.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-588111626235282006.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-588111626235282006.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-588111626235282006.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-588111626235282006.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-588111626235282006.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-588111626235282006.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-588111626235282006.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-588111626235282006.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-588111626235282006.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-588111626235282006.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-588111626235282006.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-588111626235282006 .gp-rotate-0,.gps-588111626235282006 .gp-rotate-180,.gps-588111626235282006 .mobile\:gp-rotate-0,.gps-588111626235282006 .mobile\:gp-rotate-180,.gps-588111626235282006 .tablet\:gp-rotate-0,.gps-588111626235282006 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-588111626235282006 .gp-static{position:static}.gps-588111626235282006 .gp-relative{position:relative}.gps-588111626235282006 .gp-left-0{left:0}.gps-588111626235282006 .gp-right-0{right:0}.gps-588111626235282006 .gp-z-1{z-index:1}.gps-588111626235282006 .gp-z-2{z-index:2}.gps-588111626235282006 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588111626235282006 .gp-my-0{margin-bottom:0;margin-top:0}.gps-588111626235282006 .gp-mb-0{margin-bottom:0}.gps-588111626235282006 .gp-block{display:block}.gps-588111626235282006 .gp-flex{display:flex}.gps-588111626235282006 .gp-grid{display:grid}.gps-588111626235282006 .\!gp-hidden{display:none!important}.gps-588111626235282006 .gp-hidden{display:none}.gps-588111626235282006 .gp-h-full{height:100%}.gps-588111626235282006 .\!gp-min-h-full{min-height:100%!important}.gps-588111626235282006 .gp-w-full{width:100%}.gps-588111626235282006 .\!gp-max-w-none{max-width:none!important}.gps-588111626235282006 .gp-max-w-full{max-width:100%}.gps-588111626235282006 .gp-flex-1{flex:1 1 0%}.gps-588111626235282006 .gp-shrink-0{flex-shrink:0}.gps-588111626235282006 .gp-rotate-0{--tw-rotate:0deg}.gps-588111626235282006 .gp-rotate-0,.gps-588111626235282006 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-588111626235282006 .gp-rotate-180{--tw-rotate:180deg}.gps-588111626235282006 .gp-cursor-pointer{cursor:pointer}.gps-588111626235282006 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-588111626235282006 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588111626235282006 .\!gp-flex-row{flex-direction:row!important}.gps-588111626235282006 .gp-flex-row{flex-direction:row}.gps-588111626235282006 .gp-flex-col{flex-direction:column}.gps-588111626235282006 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-588111626235282006 .gp-items-center{align-items:center}.gps-588111626235282006 .gp-justify-center{justify-content:center}.gps-588111626235282006 .gp-justify-between{justify-content:space-between}.gps-588111626235282006 .gp-gap-2{gap:8px}.gps-588111626235282006 .gp-overflow-hidden{overflow:hidden}.gps-588111626235282006 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-588111626235282006 .gp-text-center{text-align:center}.gps-588111626235282006 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-588111626235282006 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588111626235282006 .gp-duration-200{transition-duration:.2s}.gps-588111626235282006 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-588111626235282006 .tablet\:gp-static{position:static}.gps-588111626235282006 .tablet\:gp-left-0{left:0}.gps-588111626235282006 .tablet\:gp-right-0{right:0}.gps-588111626235282006 .tablet\:gp-block{display:block}.gps-588111626235282006 .tablet\:\!gp-hidden{display:none!important}.gps-588111626235282006 .tablet\:gp-hidden{display:none}.gps-588111626235282006 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-588111626235282006 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-588111626235282006 .tablet\:gp-rotate-0,.gps-588111626235282006 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-588111626235282006 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-588111626235282006 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-588111626235282006 .tablet\:gp-flex-row{flex-direction:row}.gps-588111626235282006 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-588111626235282006 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-588111626235282006 .mobile\:gp-static{position:static}.gps-588111626235282006 .mobile\:gp-left-0{left:0}.gps-588111626235282006 .mobile\:gp-right-0{right:0}.gps-588111626235282006 .mobile\:gp-block{display:block}.gps-588111626235282006 .mobile\:\!gp-hidden{display:none!important}.gps-588111626235282006 .mobile\:gp-hidden{display:none}.gps-588111626235282006 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-588111626235282006 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-588111626235282006 .mobile\:gp-rotate-0,.gps-588111626235282006 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-588111626235282006 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-588111626235282006 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-588111626235282006 .mobile\:gp-flex-row{flex-direction:row}.gps-588111626235282006 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-588111626235282006 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-588111626235282006 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-588111626235282006 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-588111626235282006 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-588111626235282006 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-588111626235282006 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-588111626235282006 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F4F1E8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gjEvf-kXqk"}' data-id="gjEvf-kXqk" id="gjEvf-kXqk" data-same-height-subgrid-container class="gjEvf-kXqk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:40px;--pl:0px;--pb:undefined;--pr:0px;--pt-mobile:20px;--pl-mobile:10px;--pb-mobile:40px;--pr-mobile:10px;--pt-tablet:40px;--pl-tablet:0px;--pb-tablet:NaNpx;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F4F1E8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gp1Bj4AYjZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWq0uLqSQt"
        class="gWq0uLqSQt"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760158051988"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-fonntscom-Suisse_Intl_Regular, 'fonntscom-Suisse_Intl_Regular'), var(--g-font-body, body);--weight:400;--ls:0.96px;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:16px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWq0uLqSQt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8SregIBnN"
        class="g8SregIBnN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:13px;--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:13px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:40px;--pb-mobile:0px;--pr-mobile:40px;--mt-tablet:13px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760158051989"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-theme-font-body), var(--g-font-body);--weight:400;--ls:0.78px;--size:32px;--size-tablet:25px;--size-mobile:23px;--lh:40px;--lh-tablet:140%;--lh-mobile:28px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8SregIBnN_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-carousel gp-data='{"id":"gX6vs2YoZn","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":true,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"padding":{"bottom":"16px","left":"16px","linked":true,"right":"16px","top":"16px","type":"custom"},"shapeLinked":true,"shapeValue":"1/1"}},"arrowCustom":"<svg height=\"20\" width=\"20\" data-name=\"caret-right-regular\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508418455613473128\">\n      <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z\"></path></svg>\n    ","arrowCustomColor":"#121212","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"arrowShadow":{"desktop":{"angle":45,"blur":"4px","color":"rgba(18, 18, 18, 0.2)","distance":"4px","enable":false,"spread":"0px","type":"shadow-1"}},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Item 1","Item 2","Item 4","Item 5"],"controlOverContent":{"desktop":true},"dot":{"desktop":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"outside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":4,"mobile":2,"tablet":2},"label":true,"loop":{"desktop":true},"navigationEnable":{"desktop":false},"navigationStyle":{"desktop":"outside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"backgroundImage":{"desktop":{}},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"line-3","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":45,"blur":"4px","color":"rgba(18, 18, 18, 0.2)","distance":"4px","enable":false,"spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"itemPadding":{"desktop":{"padding":{}}},"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"}},"spacing":{"desktop":16}}}' data-id="gX6vs2YoZn" id="gp-root-carousel-gX6vs2YoZn" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gX6vs2YoZn gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--bgi:none;--bgi-tablet:none;--bgi-mobile:none"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:auto;--h-tablet:auto;--h-mobile:auto;gap:16px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gX6vs2YoZn gX6vs2YoZn gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:3px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--shadow:none"
    >
      <style type="text/css">
      .gp-carousel-arrow-gX6vs2YoZn {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gX6vs2YoZn::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gX6vs2YoZn {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gX6vs2YoZn::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gX6vs2YoZn {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gX6vs2YoZn::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#121212;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508418455613473128">
      <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
    
    </div>
  
    </button>
  
          <div id="gp-carousel-gX6vs2YoZn" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-gX6vs2YoZn mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gX6vs2YoZn gp-child-item-gX6vs2YoZn gVHnYtYq-C"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 8px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gOyzM-3tJc" class="gOyzM-3tJc !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-gOyzM-3tJc" title="Video" preload="none" data-src="https://cdn.shopify.com/videos/c/o/v/b4af7d48bc4747e594384bb0229b14e2.mp4" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      controls
      
      
      
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/b4af7d48bc4747e594384bb0229b14e2.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gX6vs2YoZn gp-child-item-gX6vs2YoZn gW2L77SahV"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 8px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="g7aS1GJeZ-" class="g7aS1GJeZ- !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-g7aS1GJeZ-" title="Video" preload="none" data-src="https://cdn.shopify.com/videos/c/o/v/26e398559a80450d9695f9cce809ae84.mp4" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      controls
      
      
      
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/26e398559a80450d9695f9cce809ae84.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gX6vs2YoZn gp-child-item-gX6vs2YoZn g3cqvu_91N"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 8px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="g3AxSNLB2O" class="g3AxSNLB2O !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-g3AxSNLB2O" title="Video" preload="none" data-src="https://cdn.shopify.com/videos/c/o/v/ca9b2042b25b4ccf947da6136b79b566.mp4" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      controls
      
      
      
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/ca9b2042b25b4ccf947da6136b79b566.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gX6vs2YoZn gp-child-item-gX6vs2YoZn garBlq4-bA"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 8px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gdCb1p84gb" class="gdCb1p84gb !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-gdCb1p84gb" title="Video" preload="none" data-src="https://cdn.shopify.com/videos/c/o/v/7817325c9c5b46aea9b5736e8221cc6d.mp4" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      controls
      
      
      
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/7817325c9c5b46aea9b5736e8221cc6d.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gX6vs2YoZn gX6vs2YoZn gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:3px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--shadow:none"
    >
      <style type="text/css">
      .gp-carousel-arrow-gX6vs2YoZn {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gX6vs2YoZn::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gX6vs2YoZn {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gX6vs2YoZn::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gX6vs2YoZn {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gX6vs2YoZn::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#121212;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508418455613473128">
      <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
    
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gX6vs2YoZn gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--mt:16px;--mt-tablet:16px;--mt-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-588111626235282006 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=588111626050208342&sectionId=588111626235282006)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWq0uLqSQt_text","label":"ggWq0uLqSQt_text","default":"<p>REJUBALM RESULTS</p>"},{"type":"html","id":"gg8SregIBnN_text","label":"gg8SregIBnN_text","default":"10,000+ BRIGHT- EYED BEAUTIES"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  