
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-589433090531984273.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-589433090531984273.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-589433090531984273.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-589433090531984273.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-589433090531984273.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-589433090531984273.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-589433090531984273.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-589433090531984273.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-589433090531984273.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-589433090531984273.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-589433090531984273.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-589433090531984273.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-589433090531984273.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-589433090531984273.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-589433090531984273.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-589433090531984273.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-589433090531984273.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-589433090531984273.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-589433090531984273.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-589433090531984273.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-589433090531984273.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-589433090531984273.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-589433090531984273.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-589433090531984273.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-589433090531984273.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-589433090531984273.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-589433090531984273.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-589433090531984273.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-589433090531984273.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-589433090531984273.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-589433090531984273.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-589433090531984273.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-589433090531984273.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-589433090531984273.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-589433090531984273.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-589433090531984273.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-589433090531984273.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-589433090531984273.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-589433090531984273.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-589433090531984273.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-589433090531984273.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-589433090531984273.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-589433090531984273.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-589433090531984273.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-589433090531984273.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-589433090531984273.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-589433090531984273.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-589433090531984273.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-589433090531984273.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-589433090531984273.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-589433090531984273.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-589433090531984273.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-589433090531984273.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-589433090531984273.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-589433090531984273.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-589433090531984273.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-589433090531984273.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-589433090531984273.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-589433090531984273.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-589433090531984273.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-589433090531984273.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-589433090531984273.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-589433090531984273.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-589433090531984273.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-589433090531984273.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-589433090531984273.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-589433090531984273.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-589433090531984273.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-589433090531984273.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-589433090531984273.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-589433090531984273.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-589433090531984273.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-589433090531984273.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-589433090531984273.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-589433090531984273.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-589433090531984273.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-589433090531984273.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-589433090531984273.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-589433090531984273.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-589433090531984273.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-589433090531984273.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-589433090531984273.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-589433090531984273.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-589433090531984273 .gp-relative{position:relative}.gps-589433090531984273 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-589433090531984273 .gp-mb-0{margin-bottom:0}.gps-589433090531984273 .gp-inline-block{display:inline-block}.gps-589433090531984273 .gp-flex{display:flex}.gps-589433090531984273 .gp-inline-flex{display:inline-flex}.gps-589433090531984273 .gp-grid{display:grid}.gps-589433090531984273 .gp-contents{display:contents}.gps-589433090531984273 .\!gp-hidden{display:none!important}.gps-589433090531984273 .gp-hidden{display:none}.gps-589433090531984273 .gp-h-auto{height:auto}.gps-589433090531984273 .gp-h-full{height:100%}.gps-589433090531984273 .gp-w-full{width:100%}.gps-589433090531984273 .gp-max-w-full{max-width:100%}.gps-589433090531984273 .gp-flex-none{flex:none}.gps-589433090531984273 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-589433090531984273 .gp-flex-col{flex-direction:column}.gps-589433090531984273 .gp-items-center{align-items:center}.gps-589433090531984273 .gp-justify-center{justify-content:center}.gps-589433090531984273 .gp-overflow-hidden{overflow:hidden}.gps-589433090531984273 .gp-break-words{overflow-wrap:break-word}.gps-589433090531984273 .gp-text-center{text-align:center}.gps-589433090531984273 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-589433090531984273 .gp-no-underline{text-decoration-line:none}.gps-589433090531984273 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589433090531984273 .gp-duration-200{transition-duration:.2s}.gps-589433090531984273 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589433090531984273 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-589433090531984273 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-589433090531984273 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-589433090531984273 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-589433090531984273 .tablet\:\!gp-hidden{display:none!important}.gps-589433090531984273 .tablet\:gp-hidden{display:none}.gps-589433090531984273 .tablet\:gp-h-auto{height:auto}.gps-589433090531984273 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-589433090531984273 .mobile\:\!gp-hidden{display:none!important}.gps-589433090531984273 .mobile\:gp-hidden{display:none}.gps-589433090531984273 .mobile\:gp-h-auto{height:auto}.gps-589433090531984273 .mobile\:gp-flex-none{flex:none}}.gps-589433090531984273 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-589433090531984273 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDFDE7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMoD9MCe36"}' data-id="gMoD9MCe36" id="gMoD9MCe36" data-same-height-subgrid-container class="gMoD9MCe36 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:20px;--pl:0px;--pb:300px;--pr:0px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:700px;--pr-mobile:var(--g-s-l);--pt-tablet:0px;--pl-tablet:var(--g-s-l);--pb-tablet:350px;--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FDFDE7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRGEiJQGgh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gGvrb-hpbY"}' data-id="gGvrb-hpbY" id="gGvrb-hpbY" data-same-height-subgrid-container class="gGvrb-hpbY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdWTLv_AV7 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXX00s7Dwn"}' data-id="gXX00s7Dwn" id="gXX00s7Dwn" data-same-height-subgrid-container class="gXX00s7Dwn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:60px;--mb:150px;--pt:0px;--pl:150px;--pb:0px;--pr:150px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--mb-tablet:70px;--pt-tablet:50px;--pl-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1aO6HRRLB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#ffffff","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gyHlkg8uhJ"}' data-id="gyHlkg8uhJ" id="gyHlkg8uhJ" data-same-height-subgrid-container class="gyHlkg8uhJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:dashed;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:800px;--h:auto;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gRrIdo0Of9 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gwZI7s82V5"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1760859241781 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwZI7s82V5"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}" srcset="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}" srcset="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}" data-src="{{ "gempages_587280051393790634-a5ee191d-81d6-4923-8599-e443e691b07e.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:contain;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gwZI7s82V5">
        .gwZI7s82V5 {

}
.gwZI7s82V5 > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gABRjQwZyD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gH5C0QVFGs"}' data-id="gH5C0QVFGs" id="gH5C0QVFGs" data-same-height-subgrid-container class="gH5C0QVFGs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:3px 3px 3px 3px;--bc:#86A605;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:var(--g-s-xl);--pb:32px;--pr:var(--g-s-xl);--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--pt-tablet:16px;--pl-tablet:0px;--pb-tablet:16px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:585px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLLb2NCp7J gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQ2CaX1bkN"
        class="gQ2CaX1bkN"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859241803"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:18px;--lh-tablet:18px;--lh-mobile:18px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQ2CaX1bkN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gQ2CaX1bkN">
        .gQ2CaX1bkN {

}
.gQ2CaX1bkN p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gciHiOA2mL"
        class="gciHiOA2mL"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859241804"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-tablet:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--ls:normal;--size:27px;--size-tablet:27px;--size-mobile:32px;--lh:33px;--lh-tablet:33px;--lh-mobile:38px;--weight:bold;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggciHiOA2mL_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDWpaOJWHl"
        class="gDWpaOJWHl"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859241805"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:18px;--lh-tablet:18px;--lh-mobile:18px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDWpaOJWHl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.rejuwellness.co/products/all-in-one-balm-for-under-eye-renewal","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-s);--ta:center" >
        <style>[data-id="gOipMrLG7Y"].gp-button-base::before, [data-id="gOipMrLG7Y-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gOipMrLG7Y"]:hover::before, [data-id="gOipMrLG7Y-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gOipMrLG7Y" dataId="gOipMrLG7Y" data-state="idle" aria-label="<p><strong>GET 58% OFF</strong></p>"
          
          href="https://www.rejuwellness.co/products/all-in-one-balm-for-under-eye-renewal" target
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:14px;--pb-mobile:14px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--bgi:;--bg:#2A2552;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:30px;--lh-tablet:28px;--lh-mobile:20px"
          class="gOipMrLG7Y gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:30px;--lh-tablet:28px;--lh-mobile:20px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggOipMrLG7Y_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gOipMrLG7Y">
        button.gOipMrLG7Y {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F5F7F2","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gfJo0zHMBI"}' data-id="gfJo0zHMBI" id="gfJo0zHMBI" data-same-height-subgrid-container class="gfJo0zHMBI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:4px;--pt:12px;--pb:12px;--mb-mobile:8px;--pt-mobile:12px;--pb-mobile:12px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:310px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#F5F7F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g1z1DKL2Ot gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTWIR208Nj"
        class="gTWIR208Nj"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859241821"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:18px;--lh-tablet:18px;--lh-mobile:18px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTWIR208Nj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gTWIR208Nj">
        .gTWIR208Nj {

}
.gTWIR208Nj p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gxqCOPhJEX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGACGTJUo9"
        class="gGACGTJUo9"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859241823"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGACGTJUo9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gGACGTJUo9">
        .gGACGTJUo9 {

}
.gGACGTJUo9 p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gKzFZkDsHG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7DNu9wm1v"
        class="g7DNu9wm1v"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859241825"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:18px;--lh-tablet:18px;--lh-mobile:18px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7DNu9wm1v_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g7DNu9wm1v">
        .g7DNu9wm1v {

}
.g7DNu9wm1v p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gz22PUK9Ie"
        class="gz22PUK9Ie"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859241826"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:18px;--lh-tablet:18px;--lh-mobile:18px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggz22PUK9Ie_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gONwyLEUWD"}' data-id="gONwyLEUWD" id="gONwyLEUWD" data-same-height-subgrid-container class="gONwyLEUWD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-400px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:-710px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:-360px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--d:none;--d-tablet:none;--d-mobile:none"
      class="gBap77HnTU gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gKw0c6tFY0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnNy7pJCHX"
        class="gnNy7pJCHX"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760859241832"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:30px;--lh-tablet:30px;--lh-mobile:24px;--c:#fafdfe;--tt:uppercase;word-break:break-word;--bgc:#2A2552;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnNy7pJCHX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gnNy7pJCHX">
        .gnNy7pJCHX {

}
.gnNy7pJCHX p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--d:none;--d-tablet:none;--d-mobile:none"
      class="ge9jY-qTJi gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-589433090531984273 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=589433090447770513&sectionId=589433090531984273)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggQ2CaX1bkN_text","label":"ggQ2CaX1bkN_text","default":"<p>🎁 FREE GIFTS WITH YOUR ORDER</p>"},{"type":"html","id":"ggciHiOA2mL_text","label":"ggciHiOA2mL_text","default":"<span style=\"color:#C82057;\"><strong>UP TO 45% OFF </strong></span>FOR A LIMITED TIME ONLY!"},{"type":"html","id":"ggDWpaOJWHl_text","label":"ggDWpaOJWHl_text","default":"<p>This limited-time deal is in high demand and stock keeps selling out.</p>"},{"type":"html","id":"ggOipMrLG7Y_label","label":"ggOipMrLG7Y_label","default":"<p><strong>GET 58% OFF</strong></p>"},{"type":"html","id":"ggTWIR208Nj_text","label":"ggTWIR208Nj_text","default":"<p>Sell-out Risk: <span style=\"color:#E30D0D;\"><strong>High</strong></span></p>"},{"type":"html","id":"ggGACGTJUo9_text","label":"ggGACGTJUo9_text","default":"<p>|</p>"},{"type":"html","id":"gg7DNu9wm1v_text","label":"gg7DNu9wm1v_text","default":"<p><strong>FREE </strong>shipping</p>"},{"type":"html","id":"ggz22PUK9Ie_text","label":"ggz22PUK9Ie_text","default":"<p>Try it today with a 90-Day Money Back Guarantee!</p>"},{"type":"html","id":"ggnNy7pJCHX_text","label":"ggnNy7pJCHX_text","default":"<p>✨ BLACK FRIDAY VIP ACCESS</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  