
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-588263815616004777.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-588263815616004777.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-588263815616004777.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-588263815616004777.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-588263815616004777.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-588263815616004777.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-588263815616004777.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-588263815616004777.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-588263815616004777.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-588263815616004777.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-588263815616004777.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-588263815616004777.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-588263815616004777.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-588263815616004777.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-588263815616004777.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-588263815616004777.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-588263815616004777.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-588263815616004777.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-588263815616004777.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-588263815616004777.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-588263815616004777.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-588263815616004777.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-588263815616004777.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-588263815616004777.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-588263815616004777.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-588263815616004777.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-588263815616004777.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-588263815616004777.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-588263815616004777.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-588263815616004777.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-588263815616004777.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-588263815616004777.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-588263815616004777.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-588263815616004777.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-588263815616004777.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-588263815616004777.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-588263815616004777.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-588263815616004777.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-588263815616004777.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-588263815616004777.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-588263815616004777.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-588263815616004777.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-588263815616004777.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-588263815616004777.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-588263815616004777.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-588263815616004777.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-588263815616004777.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-588263815616004777.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-588263815616004777.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-588263815616004777.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-588263815616004777.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-588263815616004777.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-588263815616004777.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-588263815616004777.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-588263815616004777.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-588263815616004777.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-588263815616004777.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-588263815616004777.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-588263815616004777.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-588263815616004777.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-588263815616004777.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-588263815616004777.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-588263815616004777.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-588263815616004777.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-588263815616004777.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-588263815616004777.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-588263815616004777.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-588263815616004777.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-588263815616004777.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-588263815616004777.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-588263815616004777.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-588263815616004777.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-588263815616004777.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-588263815616004777.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-588263815616004777.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-588263815616004777.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-588263815616004777.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-588263815616004777.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-588263815616004777.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-588263815616004777.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-588263815616004777.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-588263815616004777 .gp-relative{position:relative}.gps-588263815616004777 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588263815616004777 .gp-mb-0{margin-bottom:0}.gps-588263815616004777 .gp-flex{display:flex}.gps-588263815616004777 .gp-inline-flex{display:inline-flex}.gps-588263815616004777 .gp-grid{display:grid}.gps-588263815616004777 .\!gp-hidden{display:none!important}.gps-588263815616004777 .gp-hidden{display:none}.gps-588263815616004777 .gp-h-full{height:100%}.gps-588263815616004777 .gp-max-w-full{max-width:100%}.gps-588263815616004777 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588263815616004777 .gp-flex-col{flex-direction:column}.gps-588263815616004777 .gp-items-center{align-items:center}.gps-588263815616004777 .gp-justify-center{justify-content:center}.gps-588263815616004777 .gp-overflow-hidden{overflow:hidden}.gps-588263815616004777 .gp-break-words{overflow-wrap:break-word}.gps-588263815616004777 .gp-text-center{text-align:center}.gps-588263815616004777 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-588263815616004777 .gp-no-underline{text-decoration-line:none}.gps-588263815616004777 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588263815616004777 .gp-duration-200{transition-duration:.2s}.gps-588263815616004777 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588263815616004777 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-588263815616004777 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-588263815616004777 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-588263815616004777 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-588263815616004777 .tablet\:\!gp-hidden{display:none!important}.gps-588263815616004777 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-588263815616004777 .mobile\:\!gp-hidden{display:none!important}.gps-588263815616004777 .mobile\:gp-hidden{display:none}}.gps-588263815616004777 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-588263815616004777 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDF2F5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTCVey7gcw"}' data-id="gTCVey7gcw" id="gTCVey7gcw" data-same-height-subgrid-container class="gTCVey7gcw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:40px;--pl:0px;--pb:40px;--pr:0px;--pt-mobile:30px;--pl-mobile:var(--g-s-l);--pb-mobile:30px;--pr-mobile:var(--g-s-l);--pt-tablet:30px;--pl-tablet:var(--g-s-l);--pb-tablet:30px;--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FDF2F5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0GLO_lG5G gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g-Wbj8r8up"}' data-id="g-Wbj8r8up" id="g-Wbj8r8up" data-same-height-subgrid-container class="g-Wbj8r8up gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:600px;--w-mobile:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glecXfmsZf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCv10tpK43"
        class="gCv10tpK43"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:var(--g-s-s);--mb-tablet:14px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760530582395"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:400;--size:32px;--size-tablet:26px;--size-mobile:24px;--lh:38px;--lh-tablet:31px;--lh-mobile:29px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCv10tpK43_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtpZYHf7w6"
        class="gtpZYHf7w6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760530582396"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Cabin, 'Cabin'), var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:20px;--size-mobile:18px;--lh:33px;--lh-tablet:30px;--lh-mobile:27px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtpZYHf7w6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gRqVOePsf5"}' data-id="gRqVOePsf5" id="gRqVOePsf5" data-same-height-subgrid-container class="gRqVOePsf5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2oT1X2dam gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.rejuwellness.co/products/hormone-harmony","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="gxQ-nb52JQ"].gp-button-base::before, [data-id="gxQ-nb52JQ-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
  
    }
  
      
  [data-id="gxQ-nb52JQ"]:hover::before, [data-id="gxQ-nb52JQ-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gxQ-nb52JQ" dataId="gxQ-nb52JQ" data-state="idle" aria-label="<p>Try Hormone HARMONY</p>"
          
          href="https://www.rejuwellness.co/products/hormone-harmony" target
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:14px;--pb:14px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:14px;--pb-mobile:14px;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--hvr-bblr:7px;--hvr-bbrr:7px;--hvr-btlr:7px;--hvr-btrr:7px;--bgi:;--hvr-bgi:;--hvr-bg:#66CEAA;--bg:#66CEAA;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Cabin, 'Cabin'), var(--g-font-body, body);--weight:600;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:23px;--lh-tablet:31px;--lh-mobile:30px;--tt:uppercase"
          class="gxQ-nb52JQ gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Cabin, 'Cabin'), var(--g-font-body, body);--weight:600;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:23px;--lh-tablet:31px;--lh-mobile:30px;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggxQ-nb52JQ_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gphQudf0Py"
        class="gphQudf0Py"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760530582403"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:22px;--lh-tablet:32px;--lh-mobile:30px;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggphQudf0Py_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkV2EH7alwQ.woff) format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkYODH7alwQ.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
/* vietnamese */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4i0qWljRw-PfU81xCKCpdpbgZJl6XvptnsF3-OA6Fw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4i0qWljRw-PfU81xCKCpdpbgZJl6Xvp9nsF3-OA6Fw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4i0qWljRw-PfU81xCKCpdpbgZJl6XvqdnsF3-OAw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4i0qWljRw-PfU81xCKCpdpbgZJl6XvptnsF3-OA6Fw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4i0qWljRw-PfU81xCKCpdpbgZJl6Xvp9nsF3-OA6Fw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v35/u-4i0qWljRw-PfU81xCKCpdpbgZJl6XvqdnsF3-OAw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-588263815616004777 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/reju-skin-care/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=588263815548764841&sectionId=588263815616004777)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCv10tpK43_text","label":"ggCv10tpK43_text","default":"Real, Verified Results:<br><strong>See Why Women All Over The World Trust</strong><br><strong>The Team Behind</strong> <span style=\"color:#F55F86;\"><strong>Hormone Harmony</strong></span>"},{"type":"html","id":"ggtpZYHf7w6_text","label":"ggtpZYHf7w6_text","default":"<p>Note: All reviews below are from actual paying customers.</p><p>They have been authenticated and verified</p>"},{"type":"html","id":"ggxQ-nb52JQ_label","label":"ggxQ-nb52JQ_label","default":"<p>Try Hormone HARMONY</p>"},{"type":"html","id":"ggphQudf0Py_text","label":"ggphQudf0Py_text","default":"<p>✅ 60-day money-back guarantee</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  