<style type="text/css" media="screen">
.sc_match .container {
    max-width: 1320px;
    margin: 0 auto;
}
.sc_match .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.sc_match .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.make-best-list img {
    width: 20px;
    margin-right: 12px;
    max-width:18px;
}
.make-best-list li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom:14px;
    color:#240E2B;
}
.make-best-list {
    padding: 0;
    margin-top: 0px !important;
}
  @media(max-width:767px){
    .sc_match .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .sc_match .desktopimg {
      height: 50%;
    }
    .desktopimg img {
      height: 100%;
      object-fit: cover;
    }
    .make-best-list li{
      margin-bottom:10px !important;
    }
    .make-best-list li:last-child{
      margin-bottom:0px !important;
    }
    .sc_match .product-display-flex {
      display: flex;
      flex-direction: column;
    }
    .product-display-flex .content_text {order: 1;}
    .product-display-flex .mobileimg {order: 2;}
    .product-display-flex .makes-best-main-title {order: 3; padding-top: 15px;}
    .product-display-flex .make-best-list {order: 4;}
}
</style>

<section class="sc_match"> 
  <div class="container">
    <div class="row">
      <div class="col-6 image">
        <div class="desktopimg">
          {%- if section.settings.desktop_image != blank -%}
            {{
              section.settings.desktop_image
              | image_url: width: 3840
              | image_tag: loading: 'lazy', sizes: '100vw', class: 'img-fluid banner_desktop_img'
            }}
          {%- endif -%}
        </div>
        <div class="mobileimg">
          {%- if section.settings.mobile_image != blank -%}
            {{
              section.settings.mobile_image
              | image_url: width: 750
              | image_tag: loading: 'lazy', sizes: '100vw', class: 'img-fluid banner_mobile_img'
            }}
          {%- endif -%}
        </div>
      </div>
      <div class="col-6 content">
        {%- if section.settings.heading != blank -%}
          <h3>{{ section.settings.heading }}</h3>
        {%- endif -%}
        
        {%- if section.settings.content_text != blank -%}
          <p class="content_text">{{ section.settings.content_text }}</p>
        {%- endif -%}
        
        {%- if section.settings.list_title != blank -%}
          <p class="makes-best-main-title"><strong>{{ section.settings.list_title }}</strong></p>
        {%- endif -%}

        {%- if section.blocks.size > 0 -%}
          <ul class="make-best-list">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'list_item' -%}
                  <li {{ block.shopify_attributes }}>
                    {%- if block.settings.icon != blank -%}
                      {{ block.settings.icon | image_url: width: 40 | image_tag: loading: 'lazy' }}
                    {%- endif -%}
                    <span>{{ block.settings.text }}</span>
                  </li>
              {%- endcase -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
        
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Info Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Your Secret Weapon for Confidence in Every Strand"
    },
    {
      "type": "textarea",
      "id": "content_text",
      "label": "Content Text",
      "default": "HairMagic+ wasn't just created to cover greys or stretch salon visits. It was designed to give you back control, comfort, and confidence—in just 2 minutes a day.\n\nEvery detail—from the nourishing ingredients to the undetectable finish—was carefully crafted to meet the real needs of women experiencing greys, thinning, or root regrowth. No harsh sprays. No itchy powders. No obvious patches. Just naturally fuller-looking hair that feels like you again."
    },
    {
      "type": "text",
      "id": "list_title",
      "label": "List Title",
      "default": "What makes HairMagic+ your go-to solution:"
    }
  ],
  "blocks": [
    {
      "type": "list_item",
      "name": "List Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "List item text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Info Section",
      "blocks": [
        {
          "type": "list_item",
          "settings": {
            "text": "Designed for mature hair and sensitive scalps"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "text": "Instant, believable coverage with real-hair texture"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "text": "Buildable and lightweight—never cakey or fake"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "text": "Water-resistant, life-proof wear that lasts"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "text": "Fast, no-fuss application with our precision pouch"
          }
        }
      ]
    }
  ]
}
{% endschema %}