{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .multicolumn.background-primary .multicolumn-card{
    background: {{ section.settings.card_bg_color }};
  }
  .special_class .multicolumn-list.slider{
    max-width:1280px;
    flex-wrap: nowrap;
  }
  .special_class .multicolumn-list__item{
    padding: 0 16px;
  }
  .special_class .multicolumn-card{
    border-radius: 24px;
}
  .special_class .multicolumn-card-spacing{
    padding-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
}
.multicolumn-card__info{
  padding:24px;
}
.multicolumn-card__rating{
  margin-bottom: 0;
}
.reviewer-info{
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.reviewer-info img{
  width: 4px;
  height: 4px;
}
.reviewer-info .verified{
  display: flex;
  align-items: center;
  gap: 4px;
}
{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="multicolumn {{ section.settings.special_class }} color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width {% if section.settings.no-padding %}no-padding {% endif %} section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link text-center title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
        <div class="image-with-text__text rte {{ section.settings.text_style }}" {{ section.shopify_attributes }}>
                    {{ section.settings.text }}
                  </div>
        {%- if section.settings.button_label != blank and show_mobile_slider -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
            {{- section.settings.button_label | escape -}}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    <slider-component class="slider-mobile-gutter">
      <ul
        class="multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          {%- assign empty_column = '' -%}
          {%- if block.settings.image == blank
            and block.settings.title == blank
            and block.settings.text == blank
            and block.settings.link_label == blank
          -%}
            {%- assign empty_column = ' multicolumn-list__item--empty' -%}
          {%- endif -%}

          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="multicolumn-card content-container">
              
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  <div
                    class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}
                  >
                    {%- liquid
                      assign number_of_columns = section.settings.columns_desktop
                      assign number_of_columns_mobile = section.settings.columns_mobile
                      assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                      if section.settings.image_width == 'half'
                        assign image_width = 0.5
                      elsif section.settings.image_width == 'third'
                        assign image_width = 0.33
                      else
                        assign image_width = 1
                      endif
                    -%}
                    {% capture sizes %}
                      (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                      (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                      (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                      calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                    {% endcapture %}
                    {{
                      block.settings.image
                      | image_url: width: 3200
                      | image_tag:
                        widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                        sizes: sizes,
                        class: 'multicolumn-card__image'
                    }}
                  </div>
                </div>
              {%- endif -%}
              <div class="multicolumn-card__info">
                {%- if block.settings.show_rating -%}
                  <div class="multicolumn-card__rating">
                    <svg width="80" height="16" viewBox="0 0 80 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.68323 1.53009C7.71245 1.47107 7.75758 1.42138 7.81353 1.38664C7.86949 1.3519 7.93404 1.3335 7.9999 1.3335C8.06576 1.3335 8.13031 1.3519 8.18626 1.38664C8.24222 1.42138 8.28735 1.47107 8.31656 1.53009L9.85656 4.64943C9.95802 4.85474 10.1078 5.03236 10.293 5.16706C10.4782 5.30176 10.6933 5.3895 10.9199 5.42276L14.3639 5.92676C14.4292 5.93621 14.4905 5.96374 14.5409 6.00622C14.5913 6.04871 14.6289 6.10446 14.6492 6.16716C14.6696 6.22987 14.6721 6.29703 14.6563 6.36105C14.6405 6.42507 14.6071 6.48339 14.5599 6.52942L12.0692 8.95476C11.905 9.11483 11.7821 9.31241 11.7111 9.53051C11.6402 9.74861 11.6233 9.98068 11.6619 10.2068L12.2499 13.6334C12.2614 13.6987 12.2544 13.7658 12.2296 13.8272C12.2048 13.8886 12.1632 13.9418 12.1096 13.9808C12.056 14.0197 11.9926 14.0428 11.9265 14.0474C11.8604 14.052 11.7944 14.0379 11.7359 14.0068L8.65723 12.3881C8.45438 12.2816 8.22868 12.2259 7.99956 12.2259C7.77044 12.2259 7.54475 12.2816 7.3419 12.3881L4.2639 14.0068C4.20545 14.0377 4.1395 14.0516 4.07353 14.0469C4.00757 14.0422 3.94424 14.0191 3.89076 13.9802C3.83728 13.9413 3.79579 13.8882 3.771 13.8269C3.74622 13.7656 3.73914 13.6986 3.75056 13.6334L4.3379 10.2074C4.3767 9.98125 4.35989 9.74902 4.28892 9.53079C4.21796 9.31255 4.09497 9.11486 3.93056 8.95476L1.4399 6.53009C1.39229 6.48411 1.35856 6.42569 1.34254 6.36147C1.32652 6.29726 1.32886 6.22984 1.34928 6.16689C1.36971 6.10393 1.40741 6.04799 1.45808 6.00541C1.50876 5.96284 1.57037 5.93536 1.6359 5.92609L5.07923 5.42276C5.30607 5.38976 5.52149 5.30213 5.70695 5.16742C5.89242 5.0327 6.04237 4.85494 6.1439 4.64943L7.68323 1.53009Z" fill="#97904B"/>
                      <path d="M23.6832 1.53009C23.7124 1.47107 23.7576 1.42138 23.8135 1.38664C23.8695 1.3519 23.934 1.3335 23.9999 1.3335C24.0658 1.3335 24.1303 1.3519 24.1863 1.38664C24.2422 1.42138 24.2873 1.47107 24.3166 1.53009L25.8566 4.64943C25.958 4.85474 26.1078 5.03236 26.293 5.16706C26.4782 5.30176 26.6933 5.3895 26.9199 5.42276L30.3639 5.92676C30.4292 5.93621 30.4905 5.96374 30.5409 6.00622C30.5913 6.04871 30.6289 6.10446 30.6492 6.16716C30.6696 6.22987 30.6721 6.29703 30.6563 6.36105C30.6405 6.42507 30.6071 6.48339 30.5599 6.52942L28.0692 8.95476C27.905 9.11483 27.7821 9.31241 27.7111 9.53051C27.6402 9.74861 27.6233 9.98068 27.6619 10.2068L28.2499 13.6334C28.2614 13.6987 28.2544 13.7658 28.2296 13.8272C28.2048 13.8886 28.1632 13.9418 28.1096 13.9808C28.056 14.0197 27.9926 14.0428 27.9265 14.0474C27.8604 14.052 27.7944 14.0379 27.7359 14.0068L24.6572 12.3881C24.4544 12.2816 24.2287 12.2259 23.9996 12.2259C23.7704 12.2259 23.5448 12.2816 23.3419 12.3881L20.2639 14.0068C20.2055 14.0377 20.1395 14.0516 20.0735 14.0469C20.0076 14.0422 19.9442 14.0191 19.8908 13.9802C19.8373 13.9413 19.7958 13.8882 19.771 13.8269C19.7462 13.7656 19.7391 13.6986 19.7506 13.6334L20.3379 10.2074C20.3767 9.98125 20.3599 9.74902 20.2889 9.53079C20.218 9.31255 20.095 9.11486 19.9306 8.95476L17.4399 6.53009C17.3923 6.48411 17.3586 6.42569 17.3425 6.36147C17.3265 6.29726 17.3289 6.22984 17.3493 6.16689C17.3697 6.10393 17.4074 6.04799 17.4581 6.00541C17.5088 5.96284 17.5704 5.93536 17.6359 5.92609L21.0792 5.42276C21.3061 5.38976 21.5215 5.30213 21.707 5.16742C21.8924 5.0327 22.0424 4.85494 22.1439 4.64943L23.6832 1.53009Z" fill="#97904B"/>
                      <path d="M39.6832 1.53009C39.7124 1.47107 39.7576 1.42138 39.8135 1.38664C39.8695 1.3519 39.934 1.3335 39.9999 1.3335C40.0658 1.3335 40.1303 1.3519 40.1863 1.38664C40.2422 1.42138 40.2873 1.47107 40.3166 1.53009L41.8566 4.64943C41.958 4.85474 42.1078 5.03236 42.293 5.16706C42.4782 5.30176 42.6933 5.3895 42.9199 5.42276L46.3639 5.92676C46.4292 5.93621 46.4905 5.96374 46.5409 6.00622C46.5913 6.04871 46.6289 6.10446 46.6492 6.16716C46.6696 6.22987 46.6721 6.29703 46.6563 6.36105C46.6405 6.42507 46.6071 6.48339 46.5599 6.52942L44.0692 8.95476C43.905 9.11483 43.7821 9.31241 43.7111 9.53051C43.6402 9.74861 43.6233 9.98068 43.6619 10.2068L44.2499 13.6334C44.2614 13.6987 44.2544 13.7658 44.2296 13.8272C44.2048 13.8886 44.1632 13.9418 44.1096 13.9808C44.056 14.0197 43.9926 14.0428 43.9265 14.0474C43.8604 14.052 43.7944 14.0379 43.7359 14.0068L40.6572 12.3881C40.4544 12.2816 40.2287 12.2259 39.9996 12.2259C39.7704 12.2259 39.5448 12.2816 39.3419 12.3881L36.2639 14.0068C36.2055 14.0377 36.1395 14.0516 36.0735 14.0469C36.0076 14.0422 35.9442 14.0191 35.8908 13.9802C35.8373 13.9413 35.7958 13.8882 35.771 13.8269C35.7462 13.7656 35.7391 13.6986 35.7506 13.6334L36.3379 10.2074C36.3767 9.98125 36.3599 9.74902 36.2889 9.53079C36.218 9.31255 36.095 9.11486 35.9306 8.95476L33.4399 6.53009C33.3923 6.48411 33.3586 6.42569 33.3425 6.36147C33.3265 6.29726 33.3289 6.22984 33.3493 6.16689C33.3697 6.10393 33.4074 6.04799 33.4581 6.00541C33.5088 5.96284 33.5704 5.93536 33.6359 5.92609L37.0792 5.42276C37.3061 5.38976 37.5215 5.30213 37.707 5.16742C37.8924 5.0327 38.0424 4.85494 38.1439 4.64943L39.6832 1.53009Z" fill="#97904B"/>
                      <path d="M55.6832 1.53009C55.7124 1.47107 55.7576 1.42138 55.8135 1.38664C55.8695 1.3519 55.934 1.3335 55.9999 1.3335C56.0658 1.3335 56.1303 1.3519 56.1863 1.38664C56.2422 1.42138 56.2873 1.47107 56.3166 1.53009L57.8566 4.64943C57.958 4.85474 58.1078 5.03236 58.293 5.16706C58.4782 5.30176 58.6933 5.3895 58.9199 5.42276L62.3639 5.92676C62.4292 5.93621 62.4905 5.96374 62.5409 6.00622C62.5913 6.04871 62.6289 6.10446 62.6492 6.16716C62.6696 6.22987 62.6721 6.29703 62.6563 6.36105C62.6405 6.42507 62.6071 6.48339 62.5599 6.52942L60.0692 8.95476C59.905 9.11483 59.7821 9.31241 59.7111 9.53051C59.6402 9.74861 59.6233 9.98068 59.6619 10.2068L60.2499 13.6334C60.2614 13.6987 60.2544 13.7658 60.2296 13.8272C60.2048 13.8886 60.1632 13.9418 60.1096 13.9808C60.056 14.0197 59.9926 14.0428 59.9265 14.0474C59.8604 14.052 59.7944 14.0379 59.7359 14.0068L56.6572 12.3881C56.4544 12.2816 56.2287 12.2259 55.9996 12.2259C55.7704 12.2259 55.5448 12.2816 55.3419 12.3881L52.2639 14.0068C52.2055 14.0377 52.1395 14.0516 52.0735 14.0469C52.0076 14.0422 51.9442 14.0191 51.8908 13.9802C51.8373 13.9413 51.7958 13.8882 51.771 13.8269C51.7462 13.7656 51.7391 13.6986 51.7506 13.6334L52.3379 10.2074C52.3767 9.98125 52.3599 9.74902 52.2889 9.53079C52.218 9.31255 52.095 9.11486 51.9306 8.95476L49.4399 6.53009C49.3923 6.48411 49.3586 6.42569 49.3425 6.36147C49.3265 6.29726 49.3289 6.22984 49.3493 6.16689C49.3697 6.10393 49.4074 6.04799 49.4581 6.00541C49.5088 5.96284 49.5704 5.93536 49.6359 5.92609L53.0792 5.42276C53.3061 5.38976 53.5215 5.30213 53.707 5.16742C53.8924 5.0327 54.0424 4.85494 54.1439 4.64943L55.6832 1.53009Z" fill="#97904B"/>
                      <path d="M71.6832 1.53009C71.7124 1.47107 71.7576 1.42138 71.8135 1.38664C71.8695 1.3519 71.934 1.3335 71.9999 1.3335C72.0658 1.3335 72.1303 1.3519 72.1863 1.38664C72.2422 1.42138 72.2873 1.47107 72.3166 1.53009L73.8566 4.64943C73.958 4.85474 74.1078 5.03236 74.293 5.16706C74.4782 5.30176 74.6933 5.3895 74.9199 5.42276L78.3639 5.92676C78.4292 5.93621 78.4905 5.96374 78.5409 6.00622C78.5913 6.04871 78.6289 6.10446 78.6492 6.16716C78.6696 6.22987 78.6721 6.29703 78.6563 6.36105C78.6405 6.42507 78.6071 6.48339 78.5599 6.52942L76.0692 8.95476C75.905 9.11483 75.7821 9.31241 75.7111 9.53051C75.6402 9.74861 75.6233 9.98068 75.6619 10.2068L76.2499 13.6334C76.2614 13.6987 76.2544 13.7658 76.2296 13.8272C76.2048 13.8886 76.1632 13.9418 76.1096 13.9808C76.056 14.0197 75.9926 14.0428 75.9265 14.0474C75.8604 14.052 75.7944 14.0379 75.7359 14.0068L72.6572 12.3881C72.4544 12.2816 72.2287 12.2259 71.9996 12.2259C71.7704 12.2259 71.5448 12.2816 71.3419 12.3881L68.2639 14.0068C68.2055 14.0377 68.1395 14.0516 68.0735 14.0469C68.0076 14.0422 67.9442 14.0191 67.8908 13.9802C67.8373 13.9413 67.7958 13.8882 67.771 13.8269C67.7462 13.7656 67.7391 13.6986 67.7506 13.6334L68.3379 10.2074C68.3767 9.98125 68.3599 9.74902 68.2889 9.53079C68.218 9.31255 68.095 9.11486 67.9306 8.95476L65.4399 6.53009C65.3923 6.48411 65.3586 6.42569 65.3425 6.36147C65.3265 6.29726 65.3289 6.22984 65.3493 6.16689C65.3697 6.10393 65.4074 6.04799 65.4581 6.00541C65.5088 5.96284 65.5704 5.93536 65.6359 5.92609L69.0792 5.42276C69.3061 5.38976 69.5215 5.30213 69.707 5.16742C69.8924 5.0327 70.0424 4.85494 70.1439 4.64943L71.6832 1.53009Z" fill="#97904B"/>
                    </svg>
                  </div>
                {%- endif -%}
                {%- if block.settings.rounded-text != blank -%}
                  <span class="rounded-text" style="background-color: {{ block.settings.rounded-text-color }};">
                    {{ block.settings.rounded-text }}
                  </span>
                {% endif %}
                {%- if block.settings.title != blank -%}
                  <h3 class="inline-richtext">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.link_label != blank -%}
                  <a
                    class="link animate-arrow"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                  >
                    {{- block.settings.link_label | escape -}}
                    <span class="svg-wrapper"
                      ><span class="icon-wrap">&nbsp;{{ 'icon-arrow.svg' | inline_asset_content }}</span></span
                    >
                  </a>
                {%- endif -%}
                {%- if block.settings.buyer_name != blank -%}
                  <div class="reviewer-info">
                    <span>{{ block.settings.buyer_name | escape }}{% if block.settings.buyer_age != blank %}, {{ block.settings.buyer_age }}{% endif %}</span>
                    <img src="{{ 'Dot.png' | asset_url }}" alt="Dot separator" width="4" height="4" loading="lazy">
                    <span class="verified">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_8001_28075)">
                      <path d="M13.0136 8.19116L9.81458 12.4565C9.76275 12.5255 9.69671 12.5826 9.62091 12.6239C9.54511 12.6652 9.46132 12.6897 9.37523 12.6958C9.28913 12.7019 9.20274 12.6894 9.12188 12.6592C9.04102 12.629 8.96758 12.5818 8.90655 12.5208L6.98682 10.6019" stroke="#101010" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M8.97941 1.4475C9.10216 1.29493 9.25756 1.17182 9.43417 1.08723C9.61079 1.00265 9.80412 0.95874 9.99994 0.95874C10.1958 0.95874 10.3891 1.00265 10.5657 1.08723C10.7423 1.17182 10.8977 1.29493 11.0205 1.4475L12.2355 2.95902C12.3731 3.1305 12.5517 3.26456 12.7547 3.34883C12.9578 3.43309 13.1789 3.46485 13.3974 3.44116L15.326 3.23143C15.5212 3.20974 15.7188 3.23224 15.9042 3.29726C16.0896 3.36229 16.2579 3.46816 16.3968 3.60706C16.5357 3.74596 16.6416 3.91431 16.7066 4.09967C16.7716 4.28502 16.7941 4.48263 16.7724 4.67786L16.5627 6.60643C16.539 6.82502 16.5708 7.04605 16.655 7.24913C16.7393 7.45221 16.8734 7.63079 17.0449 7.76839L18.5564 8.98339C18.7089 9.10615 18.8321 9.26155 18.9166 9.43816C19.0012 9.61477 19.0451 9.80811 19.0451 10.0039C19.0451 10.1998 19.0012 10.3931 18.9166 10.5697C18.8321 10.7463 18.7089 10.9017 18.5564 11.0245L17.04 12.2338C16.8686 12.3717 16.7346 12.5504 16.6503 12.7536C16.5661 12.9568 16.5343 13.1779 16.5579 13.3966L16.7676 15.3252C16.7895 15.5204 16.7671 15.7181 16.7021 15.9035C16.6371 16.089 16.5313 16.2574 16.3923 16.3963C16.2534 16.5353 16.085 16.6411 15.8996 16.7061C15.7141 16.7711 15.5165 16.7935 15.3212 16.7716L13.3926 16.5619C13.174 16.5381 12.953 16.5698 12.7499 16.6541C12.5468 16.7384 12.3682 16.8725 12.2307 17.044L11.0205 18.5499C10.8978 18.7026 10.7424 18.8258 10.5658 18.9105C10.3892 18.9952 10.1958 19.0392 9.99994 19.0392C9.80407 19.0392 9.6107 18.9952 9.43407 18.9105C9.25745 18.8258 9.10207 18.7026 8.97941 18.5499L7.76521 17.0392C7.62743 16.8677 7.4487 16.7337 7.2455 16.6494C7.04229 16.5651 6.82115 16.5334 6.60244 16.5571L4.67387 16.7668C4.47858 16.7888 4.28084 16.7665 4.09534 16.7016C3.90984 16.6367 3.74135 16.5308 3.60239 16.3918C3.46342 16.2529 3.35755 16.0844 3.29264 15.8989C3.22773 15.7134 3.20545 15.5157 3.22744 15.3204L3.43718 13.3918C3.46085 13.1731 3.42909 12.9519 3.34484 12.7487C3.26058 12.5455 3.12652 12.3668 2.95503 12.229L1.44432 11.0148C1.29161 10.8922 1.16838 10.7368 1.08371 10.5602C0.999035 10.3835 0.955078 10.1902 0.955078 9.99429C0.955078 9.79841 0.999035 9.60504 1.08371 9.42841C1.16838 9.25179 1.29161 9.09642 1.44432 8.97375L2.95503 7.75875C3.12657 7.6212 3.26067 7.44262 3.34494 7.23953C3.42921 7.03644 3.46094 6.81538 3.43718 6.59679L3.22744 4.66822C3.2056 4.47296 3.22799 4.27528 3.29296 4.08986C3.35793 3.90443 3.4638 3.73601 3.60273 3.59708C3.74166 3.45814 3.91009 3.35227 4.09551 3.2873C4.28094 3.22234 4.47861 3.19994 4.67387 3.22179L6.60244 3.43152C6.82114 3.45512 7.04226 3.42333 7.24546 3.33908C7.44865 3.25482 7.62738 3.12081 7.76521 2.94938L8.97941 1.4475Z" stroke="#101010" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_8001_28075">
                      <rect width="20" height="20" fill="white"/>
                      </clipPath>
                      </defs>
                      </svg>
                      
                      Verified Buyer
                    </span>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if show_mobile_slider -%}
        <div class="slider-buttons large-up-hide">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center{% if show_mobile_slider %} small-hide medium-hide{% endif %}">
      {%- if section.settings.button_label != blank -%}
        <a
          class="button button--primary"
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
        >
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif -%}
    </div>
    {% if section.settings.gurantee_text != blank %}
    <div class="text-center">
      <div class="gurantee-block">
          {{ section.settings.gurantee_text }}
      </div>
  </div>
{% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "special_class",
      "label": "Special Class", 
      "info": "Using this class the design with figma would match"
    },
    {
      "type": "checkbox",
      "id": "no-padding",
      "default": true,
      "label": "No Padding aside"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.multicolumn.settings.title.default",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_image.content"
    },    
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_button.content"
    },    
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.multicolumn.settings.button_label.default",
      "label": "t:sections.multicolumn.settings.button_label.label", 
      "info": "t:sections.multicolumn.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },    
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_layout.content"
    },     
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },    
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "color",
      "id": "card_bg_color",
      "label": "Card Background Color",
      "default": "#FFFFFF"
    },
    {
        "type": "richtext",
        "id": "gurantee_text",
        "label": "Gurrantee Text"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "text",
          "id": "rounded-text",
          "label": "Rounded Text"
        },
        {
          "type": "color",
          "id": "rounded-text-color",
          "label": "Rounded Text Color",
          "default": "#F5ED94"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "label": "Show Star Rating",
          "default": false
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "t:sections.multicolumn.blocks.column.settings.title.default",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.multicolumn.blocks.column.settings.text.default",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label",
          "info": "t:sections.multicolumn.blocks.column.settings.link_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        },
        {
          "type": "text",
          "id": "buyer_name",
          "label": "Buyer Name",
          "info": "Enter buyer name (e.g., Patty)"
        },
        {
          "type": "text",
          "id": "buyer_age",
          "label": "Buyer Age",
          "info": "Optional age to display after name (e.g., 48)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
