{{ 'section-testimonial-single.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .testimonial-single-{{ section.id }} {
    --testimonial-bg: {{ section.settings.background_color }};
    --testimonial-border: {{ section.settings.border_color }};
    --testimonial-text: {{ section.settings.text_color }};
    --testimonial-name: {{ section.settings.name_color }};
    --testimonial-title: {{ section.settings.title_color }};
  }
{%- endstyle -%}

<div class="testimonial-single testimonial-single-{{ section.id }} section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="testimonial-single__container">
      <div class="testimonial-single__content">
        <div class="testimonial-single__text">
          {%- if section.settings.quote != blank -%}
            <blockquote class="testimonial-single__quote">
              {{ section.settings.quote }}
            </blockquote>
          {%- endif -%}
          
          {%- if section.settings.author_name != blank -%}
            <div class="testimonial-single__author">
              <p class="testimonial-single__author-name">{{ section.settings.author_name }}</p>
              {%- if section.settings.author_title != blank -%}
                <p class="testimonial-single__author-title">{{ section.settings.author_title }}</p>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
        
        {%- if section.settings.author_image != blank -%}
          <div class="testimonial-single__image">
            {{
              section.settings.author_image
              | image_url: width: 400
              | image_tag:
                loading: 'lazy',
                class: 'testimonial-single__image-img'
            }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>




